body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: url("https://images.unsplash.com/photo-1556341984-69c93f636618?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80")
    no-repeat fixed center center;
  background-size: cover;
}
.table {
  width: 1000px !important;
  margin-left: 100px;
  color: white !important;
}
#btn-new {
  width: 180px;
  background-color: #474242;
}
/*  
#btnSave {
  background-color: #474242;
} */

.row {
  --mdb-gutter-x: 0 !important;
  padding-bottom: 0.5rem !important;
}
.input-group {
  flex-wrap: nowrap;
  width: 250px !important;
  margin-top: 150px;
  margin-left: 100px;
}

.input-group-text {
  background-color: #474242 !important;
  color: white !important;
}

#btn-new {
  margin-left: 150px !important;
  margin-top: 150px !important;
  width: 180px;
  background-color: #474242;
}

#btn-new,
a {
  color: white !important;
}

.edit-btn,
.delete-btn,
.view-btn {
  cursor: pointer;
}

.delete-btn,
.view-btn {
  margin-left: 15px;
}

.table tbody {
  font-weight: 500 !important;
}

.containter {
  /*  display: flex;
 justify-content: center;
  align-items: center;
  margin-top: 100px;
  border: 1px solid black; */
  width: 1000px;
  margin-left: 150px;
  margin-top: 100px;
  border: 2px solid black;
  border-radius: 1%;

  padding: 10px;
}

.lblSubcontractor {
  color: black !important;
}

.col-input {
  padding-left: 20px !important;
}

.row-input {
  padding-top: 10px;
}

#btn-save {
  background-color: #474242;
  width: 200px;
  margin-left: 780px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#btn-save-litle {
  background-color: #474242;
  width: 170px;
  margin-left: 790px;
  margin-bottom: 15px;
}
.invalid-feedback {
  display: block !important;
  margin-top: 0.25rem !important;
  position: relative !important;
  font-weight: bold;
  color: rgb(157, 8, 8) !important;
}

.little-container {
  border: 2px solid black;
  border-radius: 1%;
  padding: 5px;
}

.table-contracts {
  margin: 0px;
}

.lblTitle {
  margin-left: 400px;
  font-size: 20px;
  font-weight: bolder;
  color: black !important;
}

.par-home {
  color: white;
  margin-left: 20px;
  margin-top: 80px;
  width: 700px;
  /* background-color: wheat;
  opacity: 0.5; */
}

.title-home {
  text-align: center;
  /* background-color: wheat;
  opacity: 0.5; */
  color: white;
}

.col-modal {
  margin-left: 770px !important;
}
